In [1]:
import pandas as pd

# Maakasutuse 1. taseme klassifikaator

## Kardinaalsus

In [2]:
df1 = pd.read_csv('Level1_labels.csv', header=None, sep='|')
df1[1]=df1[1].str[0:-1].str.split(';')
df1['Count'] = [len(c) for c in df1[1]]
df1.head()

,0,1,Count
0,S2B_MSIL2A_20170930T095019_26_47,"[Forest and semi natural areas, Agricultural a...",2
1,S2A_MSIL2A_20171002T112112_49_43,[Forest and semi natural area],1
2,S2A_MSIL2A_20180225T114351_85_29,[Water bodie],1
3,S2B_MSIL2A_20180201T093219_20_72,"[Artificial surfaces, Forest and semi natural ...",3
4,S2B_MSIL2A_20180421T100029_41_31,"[Forest and semi natural areas, Agricultural a...",2

In [3]:
Kardinaalsus1=df1['Count'].mean()

## Tihedus

In [4]:
df1['Density'] = [c/5 for c in df1['Count']]

In [5]:
df1.head()

,0,1,Count,Density
0,S2B_MSIL2A_20170930T095019_26_47,"[Forest and semi natural areas, Agricultural a...",2,0.4
1,S2A_MSIL2A_20171002T112112_49_43,[Forest and semi natural area],1,0.2
2,S2A_MSIL2A_20180225T114351_85_29,[Water bodie],1,0.2
3,S2B_MSIL2A_20180201T093219_20_72,"[Artificial surfaces, Forest and semi natural ...",3,0.6
4,S2B_MSIL2A_20180421T100029_41_31,"[Forest and semi natural areas, Agricultural a...",2,0.4

In [6]:
Tihedus1=df1['Density'].mean()

# Maakasutuse 2. taseme klassifikaator

## Kardinaalsus

In [7]:
df2 = pd.read_csv('Level2_labels.csv', header=None, sep='|')
df2[1]=df2[1].str[0:-1].str.split(';')
df2['Count'] = [len(c) for c in df2[1]]
df2.head()

,0,1,Count
0,S2B_MSIL2A_20170930T095019_26_47,"[Arable land, Heterogeneous agricultural areas...",4
1,S2A_MSIL2A_20171002T112112_49_43,[Scrub and/or herbaceous vegetation associatio...,2
2,S2A_MSIL2A_20180225T114351_85_29,[Marine water],1
3,S2B_MSIL2A_20180201T093219_20_72,"[Forests, Urban fabric, Heterogeneous agricult...",3
4,S2B_MSIL2A_20180421T100029_41_31,"[Pastures, Forest]",2

In [8]:
Kardinaalsus2=df2['Count'].mean()

## Tihedus

In [9]:
df2['Density'] = [c/15 for c in df2['Count']]

In [10]:
df2.head()

,0,1,Count,Density
0,S2B_MSIL2A_20170930T095019_26_47,"[Arable land, Heterogeneous agricultural areas...",4,0.266667
1,S2A_MSIL2A_20171002T112112_49_43,[Scrub and/or herbaceous vegetation associatio...,2,0.133333
2,S2A_MSIL2A_20180225T114351_85_29,[Marine water],1,0.066667
3,S2B_MSIL2A_20180201T093219_20_72,"[Forests, Urban fabric, Heterogeneous agricult...",3,0.200000
4,S2B_MSIL2A_20180421T100029_41_31,"[Pastures, Forest]",2,0.133333

In [11]:
Tihedus2=df2['Density'].mean()

# Maakasutuse 3. taseme klassifikaator

## Kardinaalsus

In [12]:
df3 = pd.read_csv('Level3_labels.csv', header=None, sep='|')
df3[1]=df3[1].str[0:-1].str.split(';')
df3['Count'] = [len(c) for c in df3[1]]
df3.head()

,0,1,Count
0,S2B_MSIL2A_20170930T095019_26_47,"[Non-irrigated arable land, Pastures, Complex ...",5
1,S2A_MSIL2A_20171002T112112_49_43,"[Broad-leaved forest, Sclerophyllous vegetatio...",3
2,S2A_MSIL2A_20180225T114351_85_29,[Sea and ocea],1
3,S2B_MSIL2A_20180201T093219_20_72,"[Discontinuous urban fabric, Land principally ...",3
4,S2B_MSIL2A_20180421T100029_41_31,"[Pastures, Coniferous fores]",2

In [13]:
Kardinaalsus3=df3['Count'].mean()

## Tihedus

In [14]:
df3['Density'] = [c/43 for c in df3['Count']]

In [15]:
df3.head()

,0,1,Count,Density
0,S2B_MSIL2A_20170930T095019_26_47,"[Non-irrigated arable land, Pastures, Complex ...",5,0.116279
1,S2A_MSIL2A_20171002T112112_49_43,"[Broad-leaved forest, Sclerophyllous vegetatio...",3,0.069767
2,S2A_MSIL2A_20180225T114351_85_29,[Sea and ocea],1,0.023256
3,S2B_MSIL2A_20180201T093219_20_72,"[Discontinuous urban fabric, Land principally ...",3,0.069767
4,S2B_MSIL2A_20180421T100029_41_31,"[Pastures, Coniferous fores]",2,0.046512

In [16]:
Tihedus3=df3['Density'].mean()

# Tulemused

In [17]:
data = {'Maakasutuse klassifikatsioon':['1. tase','2. tase','3. tase'],
        'Kardinaalsus':[Kardinaalsus1,Kardinaalsus2,Kardinaalsus3],
        'Tihedus':[Tihedus1,Tihedus2,Tihedus3]}

In [22]:
df=pd.DataFrame(data)
df

  Maakasutuse klassifikatsioon  Kardinaalsus   Tihedus
0                      1. tase      1.782755  0.356551
1                      2. tase      2.480208  0.165347
2                      3. tase      2.961759  0.068878